:root {
  font-family: "Georgia", serif;
  font-size: 16px;
  --grid-size: 20rem;
}

body,
body * {
  display: block;
  padding: 0;
  margin: 0;
}

#photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-size), 1fr));
  grid-gap: 1rem;
  place-items: center;
  margin: 1rem;
}

#photos > * {
  max-width: 100%;
  max-height: var(--grid-size);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#photos img {
  max-width: 110%;
  max-height: 110%;
}
