:root {
  font-family: "Georgia", serif;
  font-size: 16px;
  --grid-size: 20rem;

  --background: #111;
  --font-color: #eee;

  color: var(--font-color);
}

body,
body * {
  display: block;
  padding: 0;
  margin: 0;
}

body {
  padding: 0 1rem;
  background-color: var(--background);
}

#main {
  min-height: 90vh;
}

#photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-size), 1fr));
  grid-gap: 1rem;
  place-items: center;
  margin: 1rem 0;
}

#photos > a {
  max-height: var(--grid-size);
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  filter: blur(0px);
  transition: filter 250ms ease-in-out;

  box-shadow: 0px 0px 100px #ffffff20;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  filter: blur(0);
  transition: filter 250ms ease-in-out;
}

dialog::backdrop {
  backdrop-filter: blur(10px);
}

#photos a.loading,
dialog.loading {
  filter: blur(10px);
}

#photos img {
  min-width: 130%;
  min-height: 130%;
  max-width: 200%;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

dialog img{
  display: none;
  max-height: 80vh;
  max-width: 80vw;

  transition: opacity 500ms ease-out;
}

dialog[open] img {
  display: block;
  opacity: 1;
}

#photos a.loading img,
dialog.loading img{
  opacity: 0;
}
